extends layout

include mixins/_documentLink

block content
  .inner
    h2 Account
    p= user.name
    p= `Avalible tokens: ${user.tokens}`
    h2 Your documents
    .documents
      each document in userOwnedDocuments
        +documentLink(document)