extends layout

block content
  .inner
    h2= title
    .programs
      each course in courses
        a(href=`/documents/${course.name}`)
          .document
            i.fas.fa-folder 
            span #{course.name}
          