extends layout

block content
  .inner
    if ownerStatus
      h2= document.name
      .pdf
        object(data=`/uploads/documents/${document.document}` type="application/pdf")
    else 
      .document-card
        .document-card-text
          h2= document.name
          span Price: 1 Token
        .document-card-buttons
          a.button-link(href="/") Go Back
          a.button-blue(href="/account") Get document
      