extends layout

block content
  .inner
    h2 About
    p Groupwork is a project trying to create a library of group assignments to help students in their learning process and make group work projects less tedious. By looking at work done be senior students one can learn and quickly get an overview of the subject/requirements, pushing the quality of the assignment to the next level.
    
    p Groupwork make it easy for you to upload and store your personal group assignments. By doing that you get access to previously uploaded group assignments.

    p Groupwork is a product by (Iskall AB)

    h2 FAQ
    p.bold My University doesn't exist on the platform. What can be done? 
    p Send us a message (here) and tell us what university and what program you want added and we will try to help you as soon as possible.

    p.bold How do I get access to the group assignments?
    p Every uploaded assignment gives you access to 3 new documents.

    p.bold I just started university and want to use your service but I don’t have any done group assignments yet, what do I do? 
    p Every new account starts with access to 2 documents of your own choosing so you can get started before you decide to upload.
    
    
