extends layout

block content
  .inner
    h2= title
    .programs
      each program in programs
        a(href=`/schools/${schoolParam}/${program.name}`)
          .document
            i.fas.fa-folder 
            span #{program.name}