extends layout

block content
  .inner
    h2= title
    .schools
      each school in schools
        a(href=`/schools/${school.name}`)
          .document
            i.fas.fa-folder 
            span #{school.name}