extends layout

block content
  .container#intro
    .left-intro
      .left-intro-stats
        .left-stats
          span= documentCount
          span Assignments
        .right-stats
          span= schoolCount
          span Universities
      .left-intro-text
        h2 Make university group assignments easier for yourself and others. 
        p Don’t throw your work away! Get access to previous group assignments in your next course instead. 
        p We make it easy and simple for you to upload, store and get access to group work at your university. 

      .left-intro-buttons
        a(href="/documents" class="button-blue") Get started
        a(href="/more" class="button-link") or learn more
  .intro-image-wrapper
    .intro-image
      !=h.icon('workdesk')
  .container#intro-steps
    .intro-steps-text
      h2 <span id="blue-text" >Groupwork</span> helps you
      p Get access to previous group assignments from your university.
    .intro-steps-boxes
      .box
        .box-image
          img(src="/images/icons/Folder.png", alt="folder")
        h3 Organize your group assignments   
        p Don’t throw your group assignments away or leave them in a never-to-be-used-again folder. Upload and store them here instead, making your next group assignment more manageable.  
      .box
        .box-image
          img(src="/images/icons/Paper2.png", alt="paper")
        h3 Remove confusion  
        p Instructions can be unclear and it can be hard to know where to begin. Previous group assignments in the same course can guide you and give you a framework on how to best tackle the task or problem. 
      .box
        .box-image
          img(src="/images/icons/Cheers.png", alt="beer")
        h3 Get time for other activities  
        p Getting access to previous group assignments can help you prioritize on what to spend your time one and which theoretical framework one should emphasize. This helps you be more efficient and leaving time to do other things.  
  .wavy
    .wavy-content
      h2 Test Groupwork for free
      a(href="/documents" class="button-border") Get started
    img(src="/images/icons/wavy.svg", alt="wave")
