extends layout

block content
  .container#intro
    .left-intro
      .left-intro-stats
        .left-stats
          span= documentCount
          span Arbeten
        .right-stats
          span= schoolCount
          span Universitet
      .left-intro-text
        h2 Underlätta grupparbeten för dig själv och för andra
        p Kasta inte bort dina grupparbeten! Få tillgång till tidigare arbeten i din nästa universitetskurs istället.
        p Ladda upp, spara och hämta tidigare arbeten smidigt och simpelt hos oss.
      .left-intro-buttons
        a(href="/documents" class="button-blue") Get started
        a(href="/more" class="button-link") or learn more
  .intro-image-wrapper
    .intro-image
      !=h.icon('workdesk')
  .container#intro-steps
    .intro-steps-text
      h2 <span id="blue-text" >Groupwork</span> hjälper dig
      p Få tillgång till tidigare grupparbeten  ditt universitet smidigt och enkelt.
    .intro-steps-boxes
      .box
        .box-image
          img(src="/images/icons/Folder.png", alt="folder")
        h3 Organisera dina grupparbeten  
        p Kasta inte bort dina grupparbeten! Få tillgång till tidigare arbeten i din nästa universitetskurs istället. Ladda upp, spara och hämta tidigare arbeten smidigt och simpelt hos oss. 
      .box
        .box-image
          img(src="/images/icons/Paper2.png", alt="paper")
        h3 Organisera dina grupparbeten  
        p Kasta inte bort dina grupparbeten! Få tillgång till tidigare arbeten i din nästa universitetskurs istället. Ladda upp, spara och hämta tidigare arbeten smidigt och simpelt hos oss.
      .box
        .box-image
          img(src="/images/icons/Cheers.png", alt="beer")
        h3 Organisera dina grupparbeten  
        p Kasta inte bort dina grupparbeten! Få tillgång till tidigare arbeten i din nästa universitetskurs istället. Ladda upp, spara och hämta tidigare arbeten smidigt och simpelt hos oss.
  .wavy
    .wavy-content
      h2 Test Groupwork for free
      a(href="/documents" class="button-border") Get started
    img(src="/images/icons/wavy.svg", alt="wave")
