extends layout

block content 
  .container
    .left-intro
      .left-intro-stats
        .left-stats
          span 234
          span Arbeten
        .right-stats
          span 3
          span Universitet
      .left-intro-text
        h2 Underlätta grupparbeten för dig själv och för andra
        p Kasta inte bort dina grupparbeten! Få tillgång till tidigare arbeten i din nästa universitetskurs istället.
        p Ladda upp, spara och hämta tidigare arbeten smidigt och simpelt hos oss.
      .left-intro-buttons
        a(href="/documents" class="button-blue") Get started
        a(href="/more" class="button-link") or learn more
