.create-btn {
  width: 220px;
  height: 42px;
  border-radius: 8px;
  border: 2px solid #94dad5;
  font-size: 16px;
  background: #94dad5;
  text-align: center;
  display: inline-block;
  color: white;
  font-weight: 600;
  line-height: 40px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11);
}
