/* INTRO LEFT-HAND SIDE */

.intro-left {
  margin-top: 70px;
  width: 100%;
  flex: 6;
  display: flex;
  align-items: center;
}

.intro-left-content {
  margin-left: 20%;
  max-width: 560px;
}

.intro-left-content-logo {
  width: 260px;
  margin-bottom: 20px;
}

.intro-left-content-text {
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  margin: 20px 0 40px 0;
}

.intro-left-counter {
  display: flex;
  margin: 80px 0 0 0;
}

.intro-left-content-paper {
  display: flex;
  flex-direction: column;
  padding: 0 60px 0 0;
  border-right: 2px solid #e0e0e0;
}

.intro-left-content-paperCounter {
  text-align: left;
}
.intro-left-content-paperText {
  text-align: left;
  font-weight: 300;
  color: #e0e0e0;
}

.intro-left-content-uni {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 60px;
}
.intro-left-content-uniCounter {
  text-align: left;
}
.intro-left-content-uniText {
  text-align: left;
  font-weight: 300;
  color: #e0e0e0;
}

/* INTRO RIGHT-HAND SIDE */

.intro-right {
  margin-top: 70px;
  width: 100%;
  display: flex;
  flex: 6;
  justify-content: center;
  align-items: center;
}

.intro-right-img {
  max-width: 600px;
}
