.paper-start {
  display: flex;
  height: 100%;
  background: ;
  overflow: hidden;
}

.paperWrap {
  display: flex;
  height: 100%;
  width: 100%;
  margin: 100px 0 0 7%;
  flex-direction: column;
}

.paperContainer {
  display: flex;
  margin: 40px 0 0 40px;
  width: 80%;
  flex: 1;
  flex-direction: column;
}

.paperYear {
  display: flex;
}

.paperItem-container {
  display: flex;
  background: green;
  height: 200px;
}

.paperItem {
  display: flex;
}
