.uniTop {
  margin-top: 15%;
  width: 100%;
}

.uniText {
  margin-left: 15%;
}

.uniBlocks {
  width: 80%;
  margin-top: 10%;
  margin-left: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.uniBlock1 {
  padding: 28px;
  display: inline-block;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11);
}
.uniBlock2 {
  padding: 28px;
  display: inline-block;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11);
}
.uniBlock3 {
  padding: 28px;
  display: inline-block;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11);
}
