html,
body,
.content {
  height: 100%;
}

html {
  font-size: 10px;
}

body {
  background: #fff;
}

header {
  position: absolute;
  width: 100%;
}

.inner {
  max-width: 900px;
  margin: 0 auto;
  @media all and (max-width: 900px) {
    padding: 2rem;
  }
}

.content {
  position: relative;
  overflow: hidden;
  padding-top: 80px;
}

.container {
  max-width: 1400px;
  margin-left: 20px;
  margin-right: 20px;
}

@media (min-width: 992px) {
  .container {
    margin-left: 100px;
    margin-right: 100px;
  }
  .content {
    padding-top: 150px;
  }
}
