.nav {
  width:100%;
  height: 70px;
  background: white;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  padding: 0px 100px;
  justify-content: space-between;
  font-family: "Roboto";
}

.nav li {
  display: inline-block;
  list-style: none;
}

.nav-left, .nav-right {
  z-index: 10;
}

.nav-left a {
  padding: 10px 50px;
}

.nav-left a:first-child {
  padding: 10px 50px 10px 0px;
}

.nav-right a {
  padding: 10px 25px;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  transition: opacity, transform 0.2s;
  display: inline-block;

  &:hover {
    transform: translate(0px, -3px);
  }

}

.nav-right a:first-child {
  margin-right: 25px;
}

.nav-right a.logIn {
  color: #2F80ED;
  border-color: #E0E0E0;
}

.nav-right a.signUp {
  color: white;
  background: #2F80ED;
  border-color: #2F80ED;
}

.nav-center {
  position: absolute;
  width:100%;
  text-align: center;
  left: 0;
  padding-top: 7px;
}