header {
  z-index: 10;
}

.nav {
  width: 100%;
  height: 70px;
  background: white;
  display: flex;
  align-items: center;
  padding: 2rem;
  justify-content: flex-end;
  font-family: "Roboto";
}

.nav-mobile {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 30px;
  left: 20px;
  right: 20px;
  background: white;
  box-shadow: 0 50px 100px rgba(50, 50, 93, 0.1),
    0 15px 35px rgba(50, 50, 93, 0.15), 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  height: auto;
  z-index: 10;
  transition: opacity 0.2s, transform 0.2s;
  transform: translate(0px, -20px);

  &.showPopup {
    opacity: 1;
    visibility: visible;
    transform: translate(0px, 0px);
  }
}

.nav-mobile-links {
  // border-bottom: 2px solid rgba(47, 128, 237, 0.1019);
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  li {
    list-style: none;
  }

  a {
    padding: 10px 0px;
    display: inline-block;
  }
}
.nav-mobile-close {
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 2rem;
  color: $blue;
}

.nav-mobile-buttons {
  a {
    font-weight: bold;
    margin-left: 0;
    display: block;
    border-radius: 0;
    padding: 20px 20px;
    background: linear-gradient(90deg, #32aee3 0%, #2f80ed 100%);
    color: white;
  }

  a:nth-child(2) {
    border-radius: 0px 0px 4px 4px;
  }

  svg {
    margin-left: 15px;
    padding-top: 1px;
  }
}

.hamburger {
  font-size: 2rem;
  color: $blue;
  z-index: 10;
  padding-right: 10px;
}

.nav li {
  display: inline-block;
  list-style: none;
}

.nav-left,
.nav-right {
  display: none;
  z-index: 10;
}

.nav-left a {
  padding: 10px 50px;
  transition: color 0.2s;

  &:hover {
    color: $blue;
  }
}

.nav-left a:first-child {
  padding: 10px 50px 10px 0px;
}

.nav-right a {
  padding: 10px 25px;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  transition: opacity, transform 0.2s;
  display: inline-block;
  margin-left: 25px;

  &:hover {
    transform: scale(1.05);
  }
}

.nav-right a.logIn,
.nav-mobile-buttons a.logIn {
  color: #2f80ed;
  border-color: #e0e0e0;
}

.nav-right a.signUp,
.nav-mobile-buttons a.signUp {
  color: white;
  background: #2f80ed;
  border-color: #2f80ed;
}

.nav-center {
  position: absolute;
  width: 100%;
  text-align: center;
  left: 0;
  padding-top: 7px;
}

.nav-top-line {
  display: block;
  background: $grad;
  height: 10px;
  width: 100%;
}

@media (min-width: 768px) {
  .nav-left,
  .nav-right {
    display: block;
  }

  .nav-center {
    text-align: left;
    a {
      padding-left: 20px;
    }
  }

  .hamburger {
    display: none;
  }
}

@media (min-width: 992px) {
  .nav {
    padding: 0px 100px;
    justify-content: space-between;
  }

  .nav-center {
    text-align: center;
    a {
      padding-left: 0px;
    }
  }
}
